<h1>Editing Branch "<%= @branch.name %>"</h1>

<%= form_for(@branch) do |f| %>
  
  <div class="form-group">
    <%= f.label :name, "Edit Branch Name" %>
    <%= f.text_field :name, class: 'form-control'%>
  </div>

  <%= f.submit 'Save', class: 'btn btn-primary'%>
<% end %>

<table>
  <thead>
    <tr>
      <th><h3>Documents on this Branch</h3></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

		<% @branch.documents.each do |document| %>
			<%= render 'documents/docs_list', document: document %>
		<% end %>
	</tbody>
</table>

<br>

<%= link_to 'Show', @branch %> |
<%= link_to 'Back', branches_path %>
<br>
<%= link_to 'Branch Off', branch_off_url(@branch.id) %>