<p id="notice"><%= notice %></p>

<p>
	<h1>Branch: <%= @branch.name %></h1>
</p>

<p>
	<h3>Documents:</h3>
	<% if @branch.documents.any? %>
		<ul>
			<% @branch.documents.each do |document| %>
				<li><%= link_to document, branch_document_path(@branch.id, document.id) %></li>
			<% end %>
		</ul>
	<% else %>
		<p>Currently, there are no documents on this branch.</p>
	<% end %>
</p>

<p>
	<%= link_to 'Add a document to this branch', new_branch_document_path(@branch.id) %>
</p>

<br>

<p>
	<% if @branch.parent %>
		<h4>Parent Branch: <%= link_to @branch.parent, branch_path(@branch.parent.id) %></h4>	
	<% end %>	
</p>

<p>
	<% if @branch.children.any? %>
		<h4>Branched-off:</h4>
		<ul>
			<% @branch.children.each do |child| %>
				<li><%= link_to child, branch_path(child.id) %></li>
			<% end %>	
		</ul>
	<% end %>
</p>

<br>

<p>
	<%= link_to 'Edit', edit_branch_path(@branch) %> |
	<%= link_to 'Back', branches_path %>
</p>