
<%= form_for @revision do |f| %>
	<div class="form-group">
		<%= f.label :summary %>
		<%= f.text_area :summary, class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= f.label :body, "Main Text" %>
		<%= f.text_area :body, class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= f.label :tags %>
		<%= f.text_field :tags, class: 'form-control' %>
	</div>
	<% if @current_revision %>
			<%= f.hidden_field :parent_id, value: @current_revision.id %>
	<% end %>

	<%= f.submit 'Save as draft', class: 'btn btn-default' %>

	<% if @current_revision %>
		<div>
			</br>
			<p><strong>OR save a new significant revision of your text:</strong></p>
		</div>
		
		<div class="form-group">
			<%= f.label :commit_message, "Important changes since the last significant revision - ALL DRAFTS SINCE THE LAST SIGNIFICANT REVISION WILL BE DELETED!" %>
			<%= f.text_field :commit_message, class: 'form-control' %>
		</div>

		<%= f.submit 'Save new revision', class: 'btn btn-primary' %>

	<% end %>

<% end %>
