<h1>Revisions for Document: <%= @document.title %></h1>
<h3>-- Branch: <%= @branch.name %></h3>

<br>

<table>
	<tr>
		<th>ID</th>
		<th>Root?</th>
		<th>Parent ID</th>
		<th>Status</th>
		<th>Summary</th>
		<th>Main Text</th>
		<!-- <th>Tags</th> -->
		<th>Commit Message</th>
		<th>Created</th>
		<!-- <th>Updated</th> -->
	</tr>

<% @revisions.each do |revision| %>
	<tr>
		<td><%= revision.id %></td>
		<td><%= revision.root %></td>
		<td><%= revision.parent_id %></td>
		<td><%= revision.status %></td>
		<td><%= revision.summary %></td>
		<td><%= revision.body %></td>
		<!-- <td><%= revision.tags %></td> -->
		<td><%= revision.commit_message %></td>
		<td><%= revision.created_at.to_date.inspect %></td>
		<!-- <td><%= revision.updated_at.to_date.inspect %></td> -->
		<td><%= link_to 'Show', branch_document_revision_path(revision.document.branch_id, revision.document_id, revision.id) %></td>
	</tr>
<% end %>
</table>

<!--<%= link_to "New revision", new_branch_document_revision_path %>-->