<p id="notice"><%= notice %></p>

<h1>Revision: <%= @current_revision.id %></h1>

<h4>-- Document: <%= @document.title %></h4>

<h4>-- Branch: <%= @branch.name %></h4>

<br>

<p>
	<strong>Summary:</strong>
  <%= @current_revision.summary %>
</p>

<p>
	<strong>Main Text:</strong>
  <%= @current_revision.body %>
</p>

<p>
	<strong>Tags:</strong>
  <%= @current_revision.tags %>
</p>

<p>
	<strong>Created:</strong>
  <%= @current_revision.created_at.to_date.inspect %>
</p>

<p>
	<strong>Commit Message:</strong>
  <%= @current_revision.commit_message %>
</p>

<p>
	<strong>Status:</strong>
  <%= @current_revision.status %>
</p>

<!--<%= link_to 'Edit', edit_branch_document_path(@document.branch_id, @document.id) %> |-->
<%= link_to 'Back to all revisions', branch_document_revisions_path(@document.branch_id, @document.id) %>
