<%= form_for(@document) do |f| %>
  
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control'%>
  </div>

  <%= f.fields_for :branches do |ff| %>
    <div class="form-group">
      <%= ff.label :name, "Choose a branch name" %>
      <%= ff.text_field :name, class: 'form-control' %>
    </div>
  <% end %>

  <%= f.submit 'Create Document', class: 'btn btn-primary'%>
  
  
<% end %>
