<%= form_for [@branch, @document] do |f| %>

  <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
  </div>
  <%= f.submit 'Save Title', class: 'btn btn-default' %>
<% end %>

<%= form_for [@branch, @document, @current_revision] do |f| %>

    <div class="form-group">
      <%= f.label :summary %>
      <%= f.text_area :summary, value: @current_revision.summary, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :body, "Main Text" %>
      <%= f.text_area :body, value: @current_revision.body, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :tags %>
      <%= f.text_field :tags, value: @current_revision.tags, class: 'form-control' %>
    </div>

    <% if @current_revision %>
      <%= f.hidden_field :parent_id, value: @current_revision.id %>
    <% end %>

    <%= f.submit 'Save as draft', class: 'btn btn-default' %>

    <div>
      </br>
      <p><h4><strong></strong>OR add a message and publish this text:</strong></h4></p>
    </div>

    <div class="form-group">
      <%= f.label :commit_message, "Important changes since the last published version of this text (if there is one)" %>
      <%= f.text_field :commit_message, value: @current_revision.commit_message, class: 'form-control' %>
    </div>

    <%= f.submit 'Publish', class: 'btn btn-primary'%>

<% end %>
